#why .item-title {
	font-size: 20px;
    margin: 0;
}

#why .item-sub-title {
	font-size: 18px;
}

#why .item-sub-title span {
	color: #27afa1;
}

#why .sub-title {
	margin: 40px 0 0px 0;
	font-size: 18px;
}

