.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	color: #fff !important;
    background-color: #19b0a1;
    border-color: #19b0a1;
}

.link-for-sale {
	cursor: pointer;
}

.normal-form {
	background: #eee;
    padding: 20px;
}

.tab-content {
	background-color: #fff;
}